* {
  margin: 0;
}
input, select, textarea{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  width: 100%;
  color: #ff928b;
  background-color: #cdeac0;

}
footer {
  height: 20vh;
}

header h1 {
  font-size: 2em;
  color: white;
  background-color: #fec3a6;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  margin: 0;
}

.top {
  text-align: center;
}

main {
    margin: 0 auto;
    padding: 6px;
}

h2 {
  color: #ffac81;
  font-size: 1.25em;
  margin-bottom: 20px;
}

fieldset {
  border: none;
  padding: 18px 12px;
  margin: 32px auto 16px;
}

.contact-information{
  border: none;
  padding: 18px 12px;
  margin: 32px auto 16px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  display: inline;
  margin: 10px;
  line-height: 40px;
  font-weight: 600;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #ff928b;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #fec3a6;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="select"],
input[type="url"],
textarea,
select {
  display: inline-block;
  background: #e9c46a;
  border: none;
  font-size: 16px;
  height: auto;
  padding: 18px 20px;
  margin: 8px 0;
  outline: 0;
  width: 100%;
  background-color: #efe9ae;
  color: #8a97a0;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="number"]{
  width: 40%;
}

input:focus {
  border: 2px solid navy;
}

textarea {
  height: 100px;
}
::placeholder {
  text-align: right;
  font-style: italic;
  margin-right: 10px;
  color: #bc4749;
}

.copyright {
  font-style: italic;
  text-align: center;
}

.solid {
  border-top: 5px solid #bc4749;
  margin-top: 35px;
  background-color: #cdeac0;
}

.solid-2 {
  border-top: 2px solid #bc4749;
  margin-top: 5px;
    background-color: #cdeac0;
}

.top-margin {
  margin-top: 20px;
}
/* Placeholder for selector field */
select:required:invalid {
        color: #bc4749;
      }
option[value=""][disabled] {
        display: none;
      }

      /* =================================
        Media Query: use a 768px breakpoint for desktop
      ==================================== */

      @media screen and (min-width:768px) {
          main {
    max-width: 700px;
         }

       .contact-information {
          flex-direction: row;
          flex-wrap: wrap;
       }
       .contact-information input, select {
          width: 70%;
          margin: 8px 8px;
       }

       .contact-information label {
          width: 25%;
          margin: 20px 0;
       }
       input[type="number"] {
         width: 25%;
       }
     }
